@font-face {
    font-family: 'Poppins-Regular';
    /* Ersetze durch den Namen deiner Schriftart */
    src: local('Poppins-Regular');
    /* Verwende die lokale Schriftart */
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

#event-section {
    background: url('./Images/Background.png');
    height: 60vh;
    position: relative;
    color: rgb(0, 0, 0);
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 0; 
}

#event-section .overlay {
    background-color: rgba(234, 234, 234, 0.7);
    padding: 40px;
    border-radius: 10px;
}

#description-section {
    font-size: 1rem;
}

#more-info-section .info-box {
    text-align: center;
    margin-bottom: 20px;
}

#more-info-section .info-box img {
    border-radius: 5px;
    margin-bottom: 10px;
}

#more-info-section .info-box p {
    font-size: 1.2rem;
    margin: 5px 0;
}

#more-info-section .info-box a {
    font-size: 1.5rem;
}

body, html {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    width: 100%;
    z-index: 1; /* Ensure the header is in front */
    position: relative; /* Needed for z-index to take effect */
}
.left {
    width: 50%;
    height: 150px;
    background-color: rgb(223, 52, 52);
    display: flex;
    justify-content: center;
    align-items: center;
}
.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.top, .bottom {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.top {
    background-color: #ef67fb;
}
.bottom {
    background-color: #8fdaee;
}
img {
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}
.burger-menu {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger-menu .menu-icon-wrapper {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; /* Ensure the menu icon is in front */
}
.burger-menu .menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.burger-menu .menu-icon div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
}
.burger-menu .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 3; /* Ensure the dropdown is in front */
    margin-top: 10px; /* Adjust the dropdown position below the white circle */
}
.burger-menu .dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 3;
}
.burger-menu .dropdown a:hover {
    background-color: #ddd;
}
.burger-menu.active .dropdown {
    display: block;
}
