@font-face {
    font-family: 'Poppins-Regular';
    /* Ersetze durch den Namen deiner Schriftart */
    src: local('Poppins-Regular');
    /* Verwende die lokale Schriftart */
}

body {
    margin: 0;
    padding: 0;
    font-family: poppins-regular, sans-serif;
}

/* Stil für die Überschrift bleibt unverändert */
h1 {
    margin: 40px 20px 0px 20px;
    font-family: 'Poppins-Regular', Poppins-Regular;
}

/* Container für die Kacheln */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 0px 20px 20px 20px;
    position: absolute;
}

.card {
    width: 100%;
}

/* Optional: Um sicherzustellen, dass die Bilder innerhalb der Kacheln passen */
.card-img-top {
    width: 100%;
    height: auto;
}